@model IceCream3.Models.Menu

@{
    ViewData["Title"] = "Details";
}

<h1>Ice Cream Details</h1>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bundle.css">
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/ItemsPage.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
</head>
<body>
    <li class="mdc-list-item" role="option">
        <span class="mdc-list-item__ripple"></span>
        <div class="mdc-card">
            <div class="mdc-card__primary-action" , style="block-size:400px">
                <div class="mdc-card__media mdc-card__media--square" style="height:300px; width:300px; min-width: 100%; min-height: 100%; display: flex; justify-content: center; align-items: center; background-image: url('@Html.DisplayFor(model => model.ImageUrl)'); ">
                </div>
                <div class="mdc-card__ripple"></div>
            </div>
            Flavor:
            @Html.DisplayFor(model => model.Flavor)
            <br />
            Description:
            @Html.DisplayFor(model => model.Description)
            <br />
            Price:
            @Html.DisplayFor(model => model.Price)
        </div>
    </li>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>